.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat__container {
    display: flex;
    padding: 40px 100px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
}

.input__container {
    height: 36px;
    font-size: 16px;
}

.dialog__container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    gap: 4px;
    width: 100%;
    overflow: auto;
    padding-bottom: 16px;
}

.message__container_user {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.message__bubble_user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    max-width: 600px;
    height: fit-content;
    padding: 8px 12px;
    border-radius: 10px;
    background: #afc5ef;
    justify-self: flex-end;
}

.message__bubble_chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    padding: 8px 12px;
    border-radius: 10px;
    width: fit-content;
    max-width: 600px;
    background: #e1d8ee;
}

.message__container_chat {
    display: flex;
    justify-content: flex-start;
}

.time__text {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.57);
}